@page "/"

@if (!isRunning)
{
    <body>
        <div class="container">
            <div class="column ">
                <h2 @onclick="StartSession" class="button-text-run animacja point font">FOCUS</h2>
            </div>
            <div class="column">
                <h2 class="font second-text">@remainingMinutes</h2>
                <h2 class="font dwa">@remainingSeconds</h2>
            </div>
        </div>
    </body>
}

@if (isRunning && !isPaused)
{
    <body>
        <div class="container">
            <div class="column ">
                <h2 @onclick="PauseTimer" class="button-text-run animacja point font">PAUSE</h2>
            </div>
            <div class="column">
                <h2 class="font second-text">@remainingMinutes</h2>
                <h2 class="font dwa">@remainingSeconds</h2>
            </div>
        </div>
    </body>
}

@if (isRunning && isPaused)
{
    <body>
        <div class="container">
            <div class="column ">
                <h2 @onclick="ResetTimer" class="button-text animacja point">RESET</h2>
                <h2 @onclick="ResumeTimer" class="button-text animacja point">FOCUS</h2>
            </div>
            <div class="column">
                <h2 class="font second-text">@remainingMinutes</h2>
                <h2 class="font dwa">@remainingSeconds</h2>
            </div>
        </div>
    </body>
}

@code {

    private System.Timers.Timer timer;

    private TimeSpan studyTime = TimeSpan.FromMinutes(25); // 25 minutes of focus
    private TimeSpan breakTime = TimeSpan.FromMinutes(5);   // 5 minutes break
    private TimeSpan longBreakTime = TimeSpan.FromMinutes(30);   // 30 minutes long break
    private TimeSpan initialTime = TimeSpan.FromMinutes(25);
    private TimeSpan remainingTime = TimeSpan.FromMinutes(25);

    private int sessionCount = 1;

    private bool isRunning = false;
    private bool isPaused = false;

    private string currentState = "focus";

    private int remainingSeconds; // Zmienna przechowująca pozostałe sekundy jako liczba całkowita
    public int remainingMinutes = 25; // Zmienna przechowująca pozostałe minuty jako liczba całkowita

    private void StartSession()
    {
        if (!isRunning)
        {
            initialTime = studyTime;
            remainingTime = initialTime;
            timer = new System.Timers.Timer(1000);
            timer.Elapsed += TimerElapsed;
            isRunning = true;
            isPaused = false;
            timer.Start();
        }
    }

    private void PauseTimer()
    {
        if (isRunning && !isPaused)
        {
            isPaused = true;
            timer.Stop();
        }
    }

    private void ResumeTimer()
    {
        if (isRunning && isPaused)
        {
            isPaused = false;
            timer.Start();
        }
    }

    private void ResetTimer()
    {
        isRunning = false;
        isPaused = false;
        timer.Stop();
        remainingTime = studyTime;
        currentState = "focus";
        sessionCount = 1;
        remainingSeconds = 0;
        remainingMinutes = 0;
    }

    private void TimerElapsed(object sender, System.Timers.ElapsedEventArgs e)
    {
        if (remainingTime.TotalSeconds > 0 && !isPaused)
        {
            remainingSeconds = remainingTime.Seconds;
            remainingMinutes = remainingTime.Minutes;

            remainingTime = remainingTime.Subtract(TimeSpan.FromSeconds(1));
        }
        else
        {
            if (currentState == "focus")
            {
                currentState = (sessionCount % 4 == 0) ? "longBreak" : "break";
                initialTime = (sessionCount % 4 == 0) ? longBreakTime : breakTime;
            }
            else
            {
                currentState = "focus";
                initialTime = studyTime;
                sessionCount++;

                if (sessionCount > 4)
                {
                    sessionCount = 1;
                    ResetTimer();
                }
            }

            isPaused = false;
            remainingTime = initialTime;

            remainingSeconds = remainingTime.Seconds;
            remainingMinutes = remainingTime.Minutes;
        }

        InvokeAsync(StateHasChanged);
    }
}


<style>

    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
    }

    .font {
        @@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
        font-family: 'Open Sans', sans-serif;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .column {
        flex: 1;
        box-sizing: border-box;
        min-width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
        /* Dodajemy efekt przejścia dla zmiany koloru tła */
    }

    .point {
        cursor: pointer;
    }

    .button-text {
        font-size: 250px;
        justify-content: center;
        color: white;
        text-align: center;
        flex: 1;
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        background-color: #ff4d6d;
    }

    .button-text-run {
        font-size: 230px;
        justify-content: center;
        color: white;
        text-align: center;
        flex: 1;
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        background-color: #ff4d6d;
    }

    .second-text {
        font-size: 450px;
        justify-content: center;
        color: #ff4d6d;
        text-align: center;
        flex: 1;
        display: flex;
        align-items: center;
        margin: 0;
        width: 99%;
    }

    .dwa {
        font-size: 450px;
        justify-content: center;
        color: #ff4d6d;
        text-align: center;
        flex: 1;
        display: flex;
        align-items: center;
        margin: 0;
        width: 99%;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 8px #ff4d6d;
    }




    @@media (max-width: 768px) {


        .column {
            min-width: 100%;
            height: 50vh;
        }

        .button-text {
            font-size: 120px;
            justify-content: center;
        }

        .button-text-run {
            font-size: 120px;
            justify-content: center;
        }

        .second-text {
            font-size: 230px;
            justify-content: center;
        }

        .dwa {
            font-size: 230px;
            justify-content: center;
        }
    }


    .animacja:hover {
        background-color: #ef233c;
        opacity: 1.9; /* Przyciemnia kolor */
        transition: all 0.8s ease;
    }
    .animacja:active {
        background-color: #ff4d6d; /* Kolor po wciśnięciu przycisku */
        transform: scale(0.95); /* Skalowanie po wciśnięciu przycisku */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Cień po wciśnięciu przycisku */
        opacity: 1; /* Przywróć pełną przejrzystość po wciśnięciu przycisku */
        transition: all 0.4s revert-layer;
    }
    .minuta {
        font-size: 210px;
    }

    .sekunda {
        font-size: 210px;
    }
</style>


